@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased; /* Improve font rendering */
  -moz-osx-font-smoothing: grayscale; /* Improve font rendering */
  text-rendering: optimizeLegibility; /* Improve text rendering */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 1s ease infinite;
}

.chat-bg::before {
  display: block;
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.08;
 }

.chat-box {
  padding: 7px 14px 6px;
  background-color: rgb(15, 23, 42);
  border-radius: 0px 8px 8px;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 1;
  transform-origin: center top;
  z-index: 2;
  box-shadow: rgb(0 0 0 / 13%) 0px 1px 0.5px;
  margin-top: 4px;
  margin-left: -22px;
  max-width: calc(100% - 66px);
  visibility: hidden;
  opacity: 0;
  transition: margin-left 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

.chat-box.show {
  visibility: visible;
  opacity: 1;
  margin-left: 0px;
}

.chat-box::before {
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  top: 0px;
  left: -12px;
  width: 12px;
  height: 19px;
}

.chat-time {
  text-align: right;
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(37, 211, 102, 1.5);
  margin-right: -8px;
  margin-bottom: -4px;
}

.chat-name {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color:rgba(37, 211, 102, 1.5);
}

.chat-message {
  font-size: 14px;
  line-height: 19px;
  margin-top: 4px;
  color: rgba(255, 255, 255, 1.5);
}

.chat-btn {
  padding: 8px 12px;
  border-radius: 24px;
  border: none;
  background: rgb(0, 201, 98);
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 20px;
  overflow: hidden;
  -webkit-appearance: none;
  appearance: none;
}

.whatsapp-svg {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  fill: rgb(255, 255, 255);
  z-index: 1;
  margin-right: 7px;
}

.chat-whatsapp-icon {
  width: 48px;
  height: 48px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.replies-in {
  font-size: 15px;
  line-height: 18px;
  margin-top: 4px;
  color: rgba(255, 255, 255, 1.5);
}

.name-head {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(37, 211, 102, 1.5);
}

.need-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wa-box.show {
  animation: fadeInUp ease 0.5s;
  -webkit-animation: fadeInUp ease 0.5s;
  animation-fill-mode: forwards;
  display: block !important;
}

#wa-box.hide {
  animation: fadeOutDown ease 0.5s;
  -webkit-animation: fadeOutDown ease 0.5s;
  animation-fill-mode: forwards;
  display: block !important;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeOutDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
}
